<div class="d-flex align-items-center py-4 bg-body-tertiary justify-content-center fill">

  <form [formGroup]="loginForm" (ngSubmit)="login()">

  <h1 class="h3 mb-3 fw-normal">Entre</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
    formControlName="email">
    <label for="floatingInput">Email</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword"
    formControlName="password" placeholder="Password">
    <label for="floatingPassword">Senha</label>
  </div>

  <div class="form-check text-start my-3">
    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Lembrar-me
    </label>
  </div>
  <button class="btn btn-primary w-100 py-2" [disabled]="!loginForm.valid">Entrar</button>
  <!-- <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p> -->
  <div class="alert alert-primary alert-dismissible fade show {{alertaStatus}}" role="alert">
    Logado com sucesso.
    <button type="button" class="btn-close"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</form>
</div>



